/* alert
*******************************************************************/

.alert {
    box-shadow: 0 0 4px 0 rgba($gray-700, .4);
    padding: 32px;
    text-align: center;
    color: rgba($gray-700, .6);
}
