/* header
*******************************************************************/

header {
    background-color: $app-color-1;
    position: sticky;
    top: 0;
    z-index: 1001;
    margin-bottom: 16px;
    .img-brand {
        width: 80px;
        height: auto;
    }
    a {
        color: $app-color-3;
    }
    nav {
        background-color: $gray-200;
        box-shadow: 0 4px 4px 0 rgba($gray-700, .3);
        padding: 12px;
        .container {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: center;
            justify-content: center;
            -ms-flex-align: center;
            align-items: center;
        }
        .nav-item {
            padding: 7px 16px 6px;
            color: $app-color-1;
            &.active {
                color: $white;
            }
        }
    }
}
